<div id="nav-bar">
    <ul>
        <div class="left-end">
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/user">Profile</a>
        </li>
        </div>
    </ul>
</div>