<ul id="nav-bar">

        <a href="/">F-Streak</a>

    <%if(locals.user){%>
        <div class="left-end">
            <li>
                <a href="/users/profile/<%=user.id%>">
                    <%=user.name%>
                </a>
            </li>

            <li>
                <a href="/users/sign-out">Sign Out</a>
            </li>
        </div>
        <%}else{%>
            <div class="left-end">
                <li>
                    <a href="/users/sign-up">Sign Up</a>
                </li>

                <li>
                    <a href="/users/sign-in">Sign In</a>
                </li>
            </div>


            <%}%>
</ul>