<div>
    <form action="/users/forget-password" method="post">
        <input type="email" name="email" placeholder="Enter your registered email">
        <button type="submit">Reset your password</button>
    </form>
</div>