<link rel="stylesheet" href="/css/home.css">

<body>
    <section id="home-page">
        <img src="https://media.istockphoto.com/id/1151196088/photo/change-habits-change-life.jpg?b=1&s=170667a&w=0&k=20&c=IPvPb1d4ZPcfPLcf2dSpDSGv0NbKrWuFpDFjq-7nz3I="
            alt="change-habits-change-life" id="home-img">

    </section>

    <%- include('_chat_box') -%>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.2/socket.io.min.js"></script>
    <script src='/js/chat_engine.js'></script>

    <%if(locals.user){%>
        <script>
            new ChatEngine('user-chat-box','<%=locals.user.email%>')
        </script>



    <%}%>

     
</body>