<div>
    <form action="/users/update-password" method="post">
        <input type="password" name="password" placeholder="Enter your New password">
        <input type="hidden" name="user_id" value="<%=user_id%>">
        <button type="submit">Update Password</button>
    </form>
</div>