<h1>Sign In </h1>
<body>
    <form action="/users/create-session" method="post">
        <input type="email" name="email" placeholder="Enter your email">
        <input type="password" name="password" placeholder="Enter your password">
        <button type="submit">Sign In</button>
    </form>

    <p>
        <a href="/users/auth/google">Sign-Up or Sign-In using Google</a>
    </p>

    <br>
    <p>
        <a href="/users/forget-password">Forget Password</a>
    </p>
</body>